<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wast No Food Application</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<div th:replace="header:: header"></div>
<br><br><br><br><br><br><br><br><br>

<div>
    <form action="/action_page.php">
        <label for="fname">First Name: </label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="email">Email Address:</label>
        <input type="text" id="email" name="email" placeholder="Your email address..">

        <label for="signUp">Sign Up As:</label>
        <select id="signUp" name="signUp">
            <option value="Donor">Donor</option>
            <option value="Receiver">Receiver</option>
            <option value="Driver">Driver</option>
        </select>

        <input type="submit" value="Submit">
    </form>
</div>

<div th:replace="footer:: footer"></div>

<!-- theme switch js (light and dark)-->
<script src="assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->
</body>
</html>


